body{
    margin: 0px;
    background-image: url("./images/bliss.webp");
    background-size: cover;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 8px
}

.link-button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}